@import url("https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap");
body {
    background-color: #ddf489;
}

.chat-container {
    width: 100%;
    max-width: 400px;
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.user-message {
    background: #007bff;
    color: rgb(172, 215, 253);
    padding: 8px;
    border-radius: 10px;
    max-width: 75%;
    align-self: flex-end;
}

.bot-message {
    background: #e9ecef;
    padding: 8px;
    border-radius: 10px;
    max-width: 75%;
    align-self: flex-start;
}
